/* Inter Regular*/
@font-face {
  font-family: 'Inter';
  src: url('../../../../fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Inter Medium*/
@font-face {
  font-family: 'Inter';
  src: url('../../../../fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Inter Semi Bold*/
@font-face {
  font-family: 'Inter';
  src: url('../../../../fonts/Inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/*Inter Bold*/
@font-face {
  font-family: 'Inter';
  src: url('../../../../fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
